<script>
  import Lenis from "lenis";
  import { gsap } from "gsap";
  import { ScrollTrigger } from "gsap/ScrollTrigger";
  import { functionRestartAfterSwap } from "@/lib/utils";
  function lenisScroll() {
    const lenis = new Lenis();
    lenis.on("scroll", ScrollTrigger.update);
    gsap.ticker.add((time) => {
      lenis.raf(time * 700);
    });
    gsap.ticker.lagSmoothing(0);
  }
  functionRestartAfterSwap(lenisScroll);
</script>

<section class="h-screen w-full">
  <h1>Explore</h1>
  <div class="rounded-lg bg-red-500 w-full h-1/4 p-4">Analytics</div>
  <div class="rounded-lg bg-green-500 w-full h-1/4 p-4">Agriculture</div>
  <div class="rounded-lg bg-red-500 w-full h-1/4 p-4">Guides</div>
</section>
<section>Hope you find what you’re looking for (and a bit more)</section>
